<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
        </ion-buttons>
        <ion-title>New Offer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row align-items-center justify-content-center>
            <ion-col sizeSm="4" sizeMd="2">
                Row1 Col1
            </ion-col>
            <ion-col sizeSm="4" sizeMd="3">
                <ion-card>
                    <ion-card-content>
                        <h1>The Column</h1>
                        <p>Row1 Col2</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
